body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}
.middle-form {
  margin: 150px auto 0 auto;
  width: 50%;
}
.google-logo {  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.form-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.search-input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 400px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, .40);
  border-radius: 20px;
  outline: none;
  padding-left: 35px;
}
.search-icon {
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  width: 25px;
  height: 25px;
}
.mic-icon {
  position: relative;
  width: 18px;
  height: 25px;
  bottom: 45px;
  left: 405px;
}
.button-group {
  display: flex;
  justify-content: center;
}
.btn-search {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .10);
  margin: 0 20px 0 0;
  padding: 0 10px 0 10px;
  width: max-content;
  height: 40px;
  cursor: pointer;
}
.btn-lucky {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .10);
  margin: 0 20px 0 0;
  padding: 0 10px 0 10px;
  width: max-content;
  height: 40px;
  cursor: pointer;
}
.block-button {
  width: 20px;
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 15px 5px 0 5px;
}
.square-block {
  width: 4px;
  height: 4px;
  background-color: rgba(0, 0, 0, .78);
  margin: 1px;
}
.profile-image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
}
.navbar-content {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
  margin-right: 30px;
}
.google-button {
  margin: 15px 5px 0 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, .78);  
}
.images-button {
  margin: 15px 5px 0 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, .78);
}
a {
  text-decoration: none;
  color: #000;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.footer .language-section {
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .1);
}
.language-text {
  font-size: 14px;
  padding: 15px 0 15px 25px;
  margin: 0;
  color: rgba(0, 0, 0, .5);
}
.bottom-footer {
  border-top: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
}
.bottom-footer a {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  padding: 15px 10px 15px 25px;
}
.left-side-footer {
  padding: 10px 10px 10px 0;
}
.right-side-footer {
  padding: 10px;
}